.header {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: #111517;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header-dark-light {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  gap: 8px;
  cursor: pointer;
}

.header-dark-light p {
  margin: 0;
  color: #111517;
  font-size: 16px;
  font-style: normal;
  font-family: "Nunito Sans";
  font-weight: 600;
  line-height: normal;
}

@media (max-width:420px) {
  .header-dark-light {
    padding: 5px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  }

  .header-dark-light p {
    display: none;
  }
}

/* main */

.hero {
  margin-top: 50px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
}

.hero-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.hero-search {
  display: flex;
  position: relative;
}

.hero-search span {
  position: absolute;
  top: 15px;
  left: 30px;
}

.the-search-input {
  padding-left: 74px;
  padding-right: 10px;
  outline: none;
  width: 480px;
  height: 56px;
  border: none;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.hero-filter {
  border: none;
}

/* card */

.hero-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}


/* .hero-card{} */

.hero-card-image {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 276px !important;
  height: 190px !important;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}

.flag-image {
  width: 100% !important;
}

.hero-card-body {
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  width: 276px;
  height: 168px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}

.hero-card-body h3 {
  padding-top: 24px;
  margin-bottom: 20px;
  color: #111517;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
}

.population-div {
  display: flex;
  align-items: center;
}

.population {
  color: #111517;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.population-count {
  color: #111517;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}

.region-div {
  display: flex;
  align-items: center;
}

.region {
  color: #111517;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.region-count {
  color: #111517;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}

.capital-div {
  display: flex;
  align-items: center;
}

.capital {
  color: #111517;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.capital-count {
  color: #111517;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}


@media(max-width:1260px) {
  .hero-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
  }
}

@media(max-width:950px) {
  .hero-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
}

@media(max-width:720px) {

  .hero-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 50px;
  }

  .the-search-input {
    width: 100%;
  }
}

@media(max-width:650px) {
  .hero-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width:720px) {

  .hero-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .the-search-input {
    width: 100%;
  }
}